@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

ion-content {
    font-family: 'Lobster Two', cursive;
}

.header {
    color: white;
    background: url('../img/home.jpg');
    background-size: cover;
    height: 40vh;
    text-align: center;
}
